################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lottery_Application/bin
/Lottery_Application/BundleArtifacts
/Lottery_Application/obj
/packages
